<div [ngClass]="dataForModal && dataForModal.length>0 ? 'p-0' : 'p-6' ">
  <div class="flex mb-4 justify-between">
    <div class="flex items-center">
      <h1 class="text-2xl font-semibold mr-3">Request details</h1>
      <a class="text-blue-500 text-sm"  *ngIf="dataForModal.length === 0 && getRowsCheckedForSendingEmail() > 0 && isCoordinator()" (click)="draftSendEmail(draftEmailModal)">
        <span nz-icon nzType="mail" class="pr-1"></span>
        @if(getRowsCheckedForSendingEmail() > 1) {
          Draft & send selected emails ({{getRowsCheckedForSendingEmail()}})
        } @else {
          Draft & send the selected email
        }
      </a>
    </div>
    <!-- Settings & tools -->
    <div class="flex items-center">
      <span *ngIf="dataForModal.length==0" nz-icon nz-tooltip nzTooltipTitle="Refresh" nzType="reload" nzTheme="outline"
        class="p-2 cursor-pointer" (click)="loadPrivacyTableData()" (keypress)="loadPrivacyTableData()"></span>
      <a nz-tooltip class="p-2 border border-emerald-300 hover:text-black bg-emerald-200 rounded"
        (click)="exportDataAsCSV()">
        <span class="pr-2 font-semibold">Export data</span>
        <span nz-icon nzType="export" nzTheme="outline"></span>
      </a>
    </div>
  </div>
  <nz-table nzBordered #tracingTable [nzData]="tableData" [nzPageSize]="pageSizeLimit"
    [nzShowPagination]="tableData.length > pageSizeLimit" [nzShowQuickJumper]="true"
    (nzCurrentPageDataChange)="onPageChange($event)">
    <thead>
      <tr>
        <th *ngIf="dataForModal.length == 0 && isCoordinator()" nzShowCheckbox="true" scope="col" [(nzChecked)]="allChecked"
          [nzIndeterminate]="indeterminate" (nzCheckedChange)="onCheckAll($event)" nzLabel="Select all">
        </th>
        @for (col of colDefs; track col) {
        @if (col.name === 'requestCreatedDate') {
        <th *ngIf="col.showCol" nzDisabled="dataForModal.length>0" [nzSortFn]="col.sortFn" [nzSortOrder]="col.sortOrder"
          [nzSortFn]="col.sortFn" [nzSortDirections]="col.sortDirections" [nzFilterMultiple]="col.filterMultiple"
          [nzShowFilter]="col.showFilter" [nzFilters]="col.listOfFilter" [nzFilterFn]="col.filterFn"
          [nzShowSort]="col.showSort" scope="col" nzAlign="center">
          {{col.name}}</th>
        }
        @else {
        <th *ngIf="col.showCol" [nzSortFn]="col.sortFn" [nzSortOrder]="col.sortOrder" [nzSortFn]="col.sortFn"
          [nzSortDirections]="col.sortDirections" [nzFilterMultiple]="col.filterMultiple" [nzFilters]="col.listOfFilter"
          [nzShowFilter]="col.showFilter" [nzShowSort]="col.showSort" [nzFilterFn]="col.filterFn" scope="col"
          nzAlign="center">
          {{col.name}}</th>
        }
        }
        <!-- <th nzRight scope="col" *ngIf="dataForModal.length==0">Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let privData of tracingTable.data">
        <td *ngIf="dataForModal.length == 0 && isCoordinator()" nzShowCheckbox="true" [nzDisabled]="isProcessedData(privData)"
          [nzChecked]="checkReqIdServiceInEmailSendData(privData)"
          (nzCheckedChange)="onRowCheck($event, privData)"></td>
        <td *ngIf="isColumnVisible('requestId')" nzAlign="center">{{ privData.requestId }}</td>
        @if (isColumnVisible('currentStage')) {
          @switch(privData.currentStage) {
            @case('Completed') {
              <td *ngIf="isColumnVisible('currentStage')" nzAlign="center"><nz-tag nzColor="#10B981" class="border rounded">{{ privData.currentStage }}</nz-tag></td>
            }
            @case('Rejected') {
              <td *ngIf="isColumnVisible('currentStage')" nzAlign="center"><nz-tag nzColor="#64748B" class="border rounded">{{ privData.currentStage }}</nz-tag></td>
            }
            @default {
              <td *ngIf="isColumnVisible('currentStage')" nzAlign="center"><nz-tag nzColor="#f87171" class="border rounded">{{ privData.currentStage }}</nz-tag></td>
            }
          }
        }
        <td *ngIf="isColumnVisible('serviceOwner')" nzAlign="center"> {{getFriendlyServiceOwnerName(privData.serviceOwner)}}</td>
        <td *ngIf="isColumnVisible('slaDays')" nzAlign="center">{{privData.slaDays}}</td>
        <td *ngIf="isColumnVisible('slaDaysLeft')" nzAlign="center">{{privData.slaDaysLeft}}</td>
        <td *ngIf="isColumnVisible('subtaskCreatedDate')" nzAlign="center">{{ privData.subtaskCreatedDate | date: 'dd-MMM-yyyy' }}</td>
        <td *ngIf="isColumnVisible('requestCreatedDate')" nzAlign="center">{{ privData.requestCreatedDate | date: 'dd-MMM-yyyy' }}</td>
        <td *ngIf="isColumnVisible('requestCompletedDate')" nzAlign="center">{{privData.requestCompletedDate | date: 'dd-MMM-yyyy' }}</td>
        <td *ngIf="isColumnVisible('requestType')" nzAlign="center">{{ privData.requestType }}</td>
        <td *ngIf="isColumnVisible('state')" nzAlign="center">{{privData.state}}</td>
        <!-- <td *ngIf="dataForModal.length == 0" nzAlign="center" nzRight>
          <a *ngIf="!isProcessedData(privData)" nz-tooltip
            [nzTooltipTitle]="getServiceEmailTooltip(privData.serviceOwner)" (click)="openSendEmailModal(privData)">
            <span nz-icon nzType="mail" nzTheme="outline" class="cursor-pointer"></span>
          </a>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
</div>
<ng-template #draftEmailModal>
  <draft-email [serviceEmailInput]="serviceEmailInput"></draft-email>
</ng-template>
