<div class="p-8">
  <div class="ml-auto">
    <!-- Filter placeholder -->
  </div>
  <nz-table nzBordered #tracingTable [nzData]="tableData" [nzPageSize]="pageSizeLimit" [nzShowPagination]="tableData.length > pageSizeLimit" >
    <thead>
      <tr>
        @for (col of colDefs; track col) {
          @if (col.name === 'requestCreatedDate') {
          <th
            *ngIf="col.showCol"
            [nzSortFn]="col.sortFn"
            [nzSortOrder]="col.sortOrder"
            [nzSortFn]="col.sortFn"
            [nzSortDirections]="col.sortDirections"
            [nzFilterMultiple]="col.filterMultiple"
            [nzShowFilter]="col.showFilter"
            [nzFilters]="col.listOfFilter"
            [nzFilterFn]="col.filterFn"
            [nzShowSort]="col.showSort"
            scope="col"
            nzAlign="center">
            {{col.name}}</th>
          }
          @else {
          <th
            *ngIf="col.showCol"
            [nzSortFn]="col.sortFn"
            [nzSortOrder]="col.sortOrder"
            [nzSortFn]="col.sortFn"
            [nzSortDirections]="col.sortDirections"
            [nzFilterMultiple]="col.filterMultiple"
            [nzFilters]="col.listOfFilter"
            [nzShowFilter]="col.showFilter"
            [nzShowSort]="col.showSort"
            [nzFilterFn]="col.filterFn"
            scope="col"
            nzAlign="center">
            {{col.name}}</th>
          }
        }
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let privData of tracingTable.data">
        <td *ngIf="isColumnVisible('requestId')">{{ privData.requestId }}</td>
        <td *ngIf="isColumnVisible('requestType')">{{ privData.requestType }}</td>
        <td *ngIf="isColumnVisible('currentStage')">{{ privData.currentStage }}</td>
        <td *ngIf="isColumnVisible('serviceOwner')"> {{privData.serviceOwner}}</td>
        <td *ngIf="isColumnVisible('state')">{{displayFullState(privData.state)}}</td>
        <td *ngIf="isColumnVisible('slaDays')">{{privData.slaDays}}</td>
        <td *ngIf="isColumnVisible('requestCreatedDate')">{{ privData.requestCreatedDate | date: 'dd-MMM-yyyy' }}</td>
        <td *ngIf="isColumnVisible('requestCompletedDate')">{{privData.requestCompletedDate | date: 'dd-MMM-yyyy' }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
