<div class="grid grid-cols-6 gap-8 items-center p-3 border rounded bg-gray-100 mt-3">
  <div class="col-span-1 mr-auto">
    <nz-segmented [nzOptions]="['Overall metrics', 'Processed metrics']" [(ngModel)]="selectedTab" (ngModelChange)="changeSelectedTab($event)" nzSize="large"></nz-segmented>
  </div>
  <div class="col-span-5 ml-auto">
    <!-- Consent mode -->
    <span class="flex items-center">
      <span class="text-lg pr-2">Consent mode: </span>
      <nz-switch [(ngModel)]="consentModeOn" (ngModelChange)="applyFilter()"></nz-switch>

    <!--State options-->
    <span class="text-lg pr-2 pl-4">State: </span>
    <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="selectedState" (ngModelChange)="changeSelectedState($event); applyFilter()" nzSize="large">
      <nz-option *ngFor="let state of states" [nzValue]="state.value" [nzLabel]="state.label"></nz-option>
    </nz-select>

    <!-- Service Dropdown -->
    @if(role === 'admin') {
    <span class="text-lg pl-4 pr-2">Service: </span>
    <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="selectedService" (ngModelChange)="changeSelectedService($event); applyFilter()" nzSize="large">
      <nz-option *ngFor="let service of services" [nzValue]="service.value" [nzLabel]="service.label"></nz-option>
    </nz-select>

    <!-- Request type options-->
    <span class="text-lg pl-4 pr-2">Request Type: </span>
    <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="selectedRequestType" (ngModelChange)="applyFilter()" nzSize="large">
      <nz-option *ngFor="let requestType of requestTypes" [nzValue]="requestType" [nzLabel]="requestType"></nz-option>
    </nz-select>
    }


    <!-- Request creation range picker -->
    <span class="text-lg pl-4 pr-2">Created Date: </span>
    <nz-range-picker #requestCreatedDateRangePicker [nzRanges]="presetQuickDateRanges" ngModel
      (ngModelChange)="changeSelectedRequestCreatedDate($event); storeRequestCreatedDateRangeControl(requestCreatedDateRangePicker)" [nzFormat]="'dd-MMM-yyyy'" nzSize="large" [nzDisabledDate]="disabledDates"></nz-range-picker>
    <span class="pr-2"></span>

    <a nz-tooltip nzTooltipTitle="Remove all filters" (click)="removeFilter()">
      <span nz-icon nzType="close" nzTheme="outline"></span>
    </a>
  </span>
  </div>
</div>

@switch (selectedTab) {
  @case(0) {
    <div class="dashboard-content-wrapper  bg-gray-100">
      @if(privacyData && privacyData.length > 0) {
      <div class="grid grid-cols-6 gap-2 mb-2">
        <div class="col-span-6 p-3">
          <div class="card">
            <div class="card-body">
              <div class="grid grid-cols-6 gap-1 rounded border-t-2 border-l-2 border-b-2 border-gray-500">
                <div class="col-span-2 py-4">
                  <div class="flex flex-col items-center justify-center h-full p-2">
                    <div class="text-xl font-bold">Request stats</div>
                    <div class="text-[1rem] text-slate-500">Overall stats for the applied filter</div>
                    <div class="grid grid-cols-4 py-10 gap-4 mt-4">
                      <div class="flex flex-col items-center bg-blue-500 text-white border rounded p-2 py-5">
                        <div class="text-3xl font-bold ">{{requestStats.all}}</div>
                        <div class="text-lg">All</div>
                      </div>
                      <div class="flex flex-col items-center bg-red-500 text-white border rounded p-2 py-5">
                        <div class="text-3xl font-bold">{{requestStats.pending}}</div>
                        <div class="text-lg">Pending</div>
                      </div>
                      <div class="flex flex-col items-center bg-emerald-500 text-white rounded p-2 py-5">
                        <div class="text-3xl font-bold">{{requestStats.completed}}</div>
                        <div class="text-lg">Completed</div>
                      </div>
                      <div class="flex flex-col flex-1 items-center bg-slate-500 text-white rounded p-2 py-5">
                        <div class="text-3xl font-bold">{{requestStats.rejected}}</div>
                        <div class="text-lg">Rejected</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-span-2 p-4">
                  @if(requestStats.pending > 0) {
                    <div echarts [options]="pendingRequestsByServiceOwnerChartOption" class="h-full py-2"></div>
                  } @else {
                    <div class="dnf-wrapper h-full flex flex-col w-full justify-center align-middle">
                      <nz-empty nzNotFoundContent="There are no non-processed requests for the applied filter"></nz-empty>
                    </div>
                  }
                </div>
                <div class="col-span-2 rounded border-r-2 border-gray-500 p-4">
                  @if(isSLADataUnavailable()) {
                    <div class="dnf-wrapper h-full flex flex-col w-full justify-center align-middle">
                      <nz-empty nzNotFoundContent="SLA data is not available for the selected filter"></nz-empty>
                    </div>
                  } @else {
                  <div echarts [options]="slaChartOption" class="h-full py-2"></div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-2 p-3">
          <!-- Request type distribution chart for Non-processed requests -->
          <div class="card rounded border-2 border-gray-500 p-3">
            @if(requestStats.pending > 0) {
            <div class="card-body">
              <div echarts [options]="requestTypeChartOption" class="h-full"></div>
            </div>
          } @else {
            <div class="dnf-wrapper">
              <nz-empty nzNotFoundContent="There are no non-processed requests for the applied filter"></nz-empty>
            </div>
          }
          </div>
        </div>
        <div class="col-span-4 p-3">
          <!-- Barchart of pending request count by CurrentStage -->
          <div class="card rounded border-2 border-gray-500 p-3">
          @if(requestStats.pending > 0) {
            <div class="card-body">
              <div echarts [options]="nonProcessedRequestsByCurrentStageChartOption" (chartClick)="onBarChartClickEvent($event)" class="h-full"></div>
            </div>
          } @else {
            <div class="dnf-wrapper">
              <nz-empty nzNotFoundContent="There are no non-processed requests for the applied filter"></nz-empty>
            </div>
          }
        </div>
        </div>
        <div class="col-span-6 p-3">
          <!-- Heatmap of service owners against request types for non-processed requests -->
          <div class="card rounded border-2 border-gray-500 p-3">
            @if(requestStats.pending > 0) {
            <div class="card-body">
              <div echarts [options]="serviceOwnerChartOption" class="h-full"></div>
            </div>
          } @else {
            <div class="dnf-wrapper">
              <nz-empty nzNotFoundContent="There are no non-processed requests for the applied filter"></nz-empty>
            </div>
          }
          </div>
        </div>
      </div>
      } @else {
      <!-- Display No data in a tailwind formatted center box -->
      <div class="absolute top-1/2 left-1/2">
        <nz-empty nzNotFoundContent="Data not found. Please retry with another filter"></nz-empty>
      </div>
      }
    </div>
  }
  @case (1) {
    <span class="text-3xl font-bold">Processed metrics</span>
  }
}
