<div class="grid grid-cols-6 gap-8 items-center py-4">
  <div class="col-span-1 mr-auto">
    <nz-segmented [nzOptions]="['Overall metrics', 'Processed metrics']" [(ngModel)]="selectedTab" (ngModelChange)="changeSelectedTab($event)" nzSize="large"></nz-segmented>
  </div>
  <div class="col-span-5 ml-auto">
    <!--State options-->
    <span class="text-lg pr-2">State: </span>
    <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="selectedState" (ngModelChange)="changeSelectedState($event); applyFilter()" nzSize="large">
      <nz-option *ngFor="let state of states" [nzValue]="state.value" [nzLabel]="state.label"></nz-option>
    </nz-select>

    <!-- Service Dropdown -->
    @if(role === 'admin') {
    <span class="text-lg pl-4 pr-2">Service: </span>
    <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="selectedService" (ngModelChange)="changeSelectedService($event); applyFilter()" nzSize="large">
      <nz-option *ngFor="let service of services" [nzValue]="service.value" [nzLabel]="service.label"></nz-option>
    </nz-select>

    <!-- Request type options-->
    <span class="text-lg pl-4 pr-2">Request Type: </span>
    <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="selectedRequestType" (ngModelChange)="applyFilter()" nzSize="large">
      <nz-option *ngFor="let requestType of requestTypes" [nzValue]="requestType" [nzLabel]="requestType"></nz-option>
    </nz-select>
    }


    <!-- Request creation range picker -->
    <span class="text-lg pl-4 pr-2">Created Date: </span>
    <nz-range-picker [nzRanges]="presetQuickDateRanges" ngModel
      (ngModelChange)="changeSelectedRequestCreatedDate($event)" [nzFormat]="'dd-MMM-yyyy'" nzSize="large" [nzDisabledDate]="disabledDates"></nz-range-picker>
    <span class="pr-2"></span>

    <a (click)="removeFilter()">
      <span nz-icon nzType="close" nzTheme="outline"></span>
    </a>

  </div>
</div>

@switch (selectedTab) {
  @case(0) {
    <div class="dashboard-content-wrapper">
      @if(privacyData && privacyData.length > 0) {
      <div class="grid grid-cols-6 gap-2 my-8">
        <div class="col-span-6 p-4">
          <div class="card">
            <div class="card-header pb-4">
              <p class="text-2xl font-bold">Overall metrics</p>
            </div>
            <div class="card-body">
              <div class="grid grid-cols-6 gap-1 rounded border-t-2 border-l-2 border-b-2 border-gray-500">
                <div class="col-span-1 border-r-2 border-gray-500 text-amber-700">
                  <div class="card">
                    <div class="card-header min-h-[8rem] text-center">
                      <p class="text-2xl font-semibold p-8">Total</p>
                    </div>
                    <div class="card-body p-8 text-8xl text-center">
                      <p>{{ requestStats.all }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-span-1 border-r-2 border-gray-500 text-emerald-700">
                  <div class="card">
                    <div class="card-header min-h-[8rem] text-center">
                      <p class="text-2xl font-semibold p-8">Processed</p>
                    </div>
                    <div class="card-body p-8 text-8xl text-center">
                      <p>{{ requestStats.completed }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-span-1 border-r-2 border-gray-500 text-blue-700">
                  <div class="card">
                    <div class="card-header min-h-[8rem] text-center">
                      <p class="text-2xl font-semibold p-8">Non-Processed</p>
                    </div>
                    <div class="card-body p-8 text-8xl text-center">
                      <p>{{ requestStats.pending }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-span-1 border-r-2 border-gray-500 text-slate-700">
                  <div class="card">
                    <div class="card-header min-h-[8rem] text-center">
                      <p class="text-2xl font-semibold p-8">Rejected</p>
                    </div>
                    <div class="card-body p-8 text-8xl text-center">
                      <p>{{ requestStats.rejected }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-span-2 rounded border-r-2 border-gray-500 px-4"
                  [ngClass]="isSLADataUnavailable()? '':'py-8'">
                  @if(isSLADataUnavailable()) {
                    <div class="dnf-wrapper h-full flex flex-col w-full justify-center align-middle">
                      <nz-empty nzNotFoundContent="SLA data is not available for the selected filter"></nz-empty>
                    </div>
                  } @else {
                  <div echarts [options]="slaChartOption" class="h-full"></div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-2 p-4">
          <!-- Request type distribution chart for Non-processed requests -->
          <div class="card rounded border-2 border-gray-500 p-4">
            @if(requestStats.pending > 0) {
            <div class="card-body">
              <div echarts [options]="requestTypeChartOption" class="h-full"></div>
            </div>
          } @else {
            <div class="dnf-wrapper">
              <nz-empty nzNotFoundContent="There are no non-processed requests for the applied filter"></nz-empty>
            </div>
          }
          </div>
        </div>
        <div class="col-span-4 p-4">
          <!-- Barchart of pending request count by CurrentStage -->
          <div class="card rounded border-2 border-gray-500 p-4">
          @if(requestStats.pending > 0) {
            <div class="card-body">
              <div echarts [options]="nonProcessedRequestsByCurrentStageChartOption" class="h-full"></div>
            </div>
          } @else {
            <div class="dnf-wrapper">
              <nz-empty nzNotFoundContent="There are no non-processed requests for the applied filter"></nz-empty>
            </div>
          }
        </div>
        </div>
        <div class="col-span-6 p-4">
          <!-- Heatmap of service owners against request types for non-processed requests -->
          <div class="card rounded border-2 border-gray-500 p-4">
            @if(requestStats.pending > 0) {
            <div class="card-body">
              <div echarts [options]="serviceOwnerChartOption" class="h-full"></div>
            </div>
          } @else {
            <div class="dnf-wrapper">
              <nz-empty nzNotFoundContent="There are no non-processed requests for the applied filter"></nz-empty>
            </div>
          }
          </div>
        </div>
      </div>
      } @else {
      <!-- Display No data in a tailwind formatted center box -->
      <div class="absolute top-1/2 left-1/2">
        <nz-empty nzNotFoundContent="Data not found. Please retry with another filter"></nz-empty>
      </div>
      }
    </div>
  }
  @case (1) {
    <span class="text-3xl font-bold">Processed metrics</span>
  }
}

<!-- No data found container -->
<!-- Privacy metrics - total requests, processed, non-processed -->
<!-- Based on service owner selection, the privacy metrics should contain link to display tracking tab with appropriate service-owner pending requests -->
<!-- Consent based request numbers - total, processed & non-processed with service-owner selection and tracking capability -->
<!-- SLA Compliance metrics - Total requests processed under SLA, Total requests that breached SLA - Admin only -->
