<div class="container-md">
  <div class="grid grid-rows-1 grid-flow-col gap-4 bg-blue-950 z-20">
  <div class="col-auto p-3">
    <label for="roleDDL" class="text-orange-300 pr-4">Role</label>
    <select id="roleDDL" class="bg-white text-gray-700 rounded-md p-2" (change)="changeRole($event)" [value]="role">
      <option value="admin">Administrator</option>
      <option value="service-owner">Service Owner</option>
    </select>

    @if(role === 'service-owner') {
      <label for="serviceDDL" class="pl-3 text-orange-300 pr-4">Service</label>
      <select id="serviceDDL" class="bg-white text-gray-700 rounded-md p-2" (change)="changeServiceOwner($event)" [value]="selectedServiceOwner">
        @for (service of serviceOwners; track service.value) {
          <option [value]="service.value">{{ service.label }}</option>
        }
      </select>
    }
  </div>
  </div>
</div>

<div class="container-md" *ngIf="role !== ''">
  <mat-tab-group>
    <mat-tab label="Dashboard">
      <div class="p-10">
        <app-dashboard [role]="role" [selectedServiceOwner]="selectedServiceOwner"></app-dashboard>
      </div>
    </mat-tab>
    <mat-tab label="Tracing">
      <div class="p-10">
        <app-tracing></app-tracing>
      </div>
    </mat-tab>
    <mat-tab label="PIA" *ngIf="role === 'admin'">
      <div class="p-10">
        <app-pia></app-pia>
      </div>
    </mat-tab>
    <mat-tab label="Onboarding" *ngIf="role === 'admin'">
      <div class="p-10">
        <app-onboarding></app-onboarding>
      </div>
    </mat-tab>
    <mat-tab label="Reporting" *ngIf="role === 'admin'">
      <div class="p-10">
        <app-reporting></app-reporting>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
