<div class="grid grid-cols-6 gap-8 items-center">
  <div class="col-span-3">
    <label for="roleControl" class="text-gray-500 font-bold">Role: {{ displayFriendlyRole() }}</label>
  </div>
  <div class="col-span-3 ml-auto">
    @if(displayFilters) {
        <label for="stateControl" class="text-gray-500 font-bold pr-2">State:</label>
        <select id="stateControl" class="border border-gray-300 rounded-md p-2 mr-2" (change)="changeSelectedState($event);applyFilter()">
          <option value="all">All</option>
          <option *ngFor="let state of states" [value]="state.value">{{ state.label }}</option>
        </select>

        <!-- Service Dropdown -->
        @if(role === 'admin') {
          <label for="serviceControl" class="text-gray-500 font-bold pr-2">Service:</label>
          <select id="serviceControl" class="border border-gray-300 rounded-md p-2 mr-2" (change)="changeSelectedService($event); applyFilter()">
            <option value="all">All</option>
            <option *ngFor="let service of services" [value]="service.value">{{ service.label }}</option>
          </select>
        }

        <!-- Start date selector without material with tailwind
        <label for="startDateControl" class="text-gray-500 font-bold pr-2">Start Date:</label>
        <input id="startDateControl" #startDateControl type="date" class="border border-gray-300 rounded-md p-2 mr-2 form-control" max="{{maxDate | date: 'dd/MM/yyyy'}}" [(ngModel)]="startDate" (change)="applyFilter()">
        <span class="text-red-400" *ngIf="!isStartDateValid()">Error in start date selection</span> -->

        <mat-form-field class="px-2 bg-white">
          <mat-label class="">Enter a date range</mat-label>
          <mat-date-range-input #dateRangePicker [rangePicker]="picker" [min]="minDate" [max]="maxDate">
            <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
            <input matEndDate placeholder="End date" [(ngModel)]="endDate">
          </mat-date-range-input>
          <mat-hint class="bg-white text-gray-500">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

      <a href="#" (click)="toggleFilters(); removeFilter()">
        <mat-icon>filter_list_off</mat-icon>
      </a>
    }
    @else {
      <a href="#" (click)="toggleFilters()">
        <mat-icon>filter_list</mat-icon>
      </a>
    }
  </div>
</div>
<div class="dashboard-content-wrapper">
  @if(privacyData && privacyData.length > 0) {
    <div class="grid grid-cols-6 gap-16 text-xl my-8">
      <div class="col-span-6 shadow-md p-4">
        <div class="card">
          <div class="card-header pb-4">
            <p class="text-3xl font-bold">Privacy requests metrics</p>
          </div>
          <div class="card-body">
            <div class="grid grid-cols-6 gap-1 rounded border-t-2 border-l-2 border-b-2 border-gray-500 bg-blue-50">
              <div class="col-span-1 border-r-2 border-gray-500 text-amber-700">
                <div class="card">
                  <div class="card-header min-h-[8rem] text-center">
                    <p class="text-xl font-semibold p-8">Total Requests</p>
                  </div>
                  <div class="card-body p-8 text-8xl text-center">
                    <p>{{ getTotalRequests() }}</p>
                  </div>
                </div>
              </div>
              <div class="col-span-1 border-r-2 border-gray-500 text-emerald-700">
                <div class="card">
                  <div class="card-header min-h-[8rem] text-center">
                    <p class="text-xl font-semibold p-8">Processed</p>
                  </div>
                  <div class="card-body p-8 text-8xl text-center">
                    <p>{{ getTotalRequestsCompleted() }}</p>
                  </div>
                </div>
              </div>
              <div class="col-span-1 border-r-2 border-gray-500 text-blue-700">
                <div class="card">
                  <div class="card-header min-h-[8rem] text-center">
                    <p class="text-xl font-semibold p-8">Non-Processed</p>
                  </div>
                  <div class="card-body p-8 text-8xl text-center">
                    <p>{{ getTotalRequestsPending() }}</p>
                  </div>
                </div>
              </div>
              <div class="col-span-1 border-r-2 border-gray-500 text-slate-700">
                <div class="card">
                  <div class="card-header min-h-[8rem] text-center">
                    <p class="text-xl font-semibold p-8">Rejected</p>
                  </div>
                  <div class="card-body p-8 text-8xl text-center">
                    <p>{{ getTotalRequestsRejected() }}</p>
                  </div>
                </div>
              </div>
              <div class="col-span-2 rounded border-r-2 border-gray-500 py-8 px-4">
                <div echarts [options]="chartOption" class="h-full"></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-span-6 rounded-md border border-emerald-300 shadow-md p-4">
      <div class="card">
        <div class="card-header pb-4">
          <p class="text-3xl font-bold">Consent based requests metrics</p>
        </div>
        <div class="card-body">
          <div class="grid grid-cols-6 gap-8">
            <div class="col-span-1">
              <div class="card rounded-xl border-2 bg-blue-700 text-white">
                <div class="card-header min-h-[8rem]">
                  <p class="text-xl font-semibold p-8">Total opt outs</p>
                </div>
                <div class="card-body p-8 text-8xl text-center">
                  <p>{{ getTotalOptOuts() }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card rounded-xl border-2 bg-green-700 text-white">
                <div class="card-header min-h-[8rem]">
                  <p class="text-xl font-semibold p-8">Opt outs processed</p>
                </div>
                <div class="card-body p-8 text-8xl text-center">
                  <p>{{ getTotalOptOutsCompleted() }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card rounded-xl border-2 bg-orange-700 text-white">
                <div class="card-header min-h-[8rem]">
                  <p class="text-xl font-semibold p-8">Opt outs in process</p>
                </div>
                <div class="card-body p-8 text-8xl text-center">
                  <p>{{ getTotalOptOutsPending() }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card rounded-xl border-2 bg-slate-700 text-white">
                <div class="card-header min-h-[8rem]">
                  <p class="text-xl font-semibold p-8">Rejected opt outs</p>
                </div>
                <div class="card-body p-8 text-8xl text-center">
                  <p>{{ getTotalOptOutsRejected() }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card rounded-xl border-2 bg-yellow-700 text-white">
                <div class="card-header min-h-[8rem]">
                  <p class="text-xl font-semibold p-8">Opt outs nearing breach</p>
                </div>
                <div class="card-body p-8 text-8xl text-center">
                  <p>{{ getTotalOptOutsNearingSLAInAWeek() }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card rounded-xl border-2 bg-red-700 text-white">
                <div class="card-header min-h-[8rem]">
                  <p class="text-xl font-semibold p-8">Opt outs in breach</p>
                </div>
                <div class="card-body p-8 text-8xl text-center">
                  <p>{{ getTotalOptOutsBreached() }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  } @else {
      <!-- Display No data in a tailwind formatted center box -->
      <div class="grid grid-cols-6 gap-16 text-xl my-8">
        <div class="col-span-6 shadow-md p-4">
          <div class="card">
            <div class="card-header pb-4">
              <p class="text-3xl font-bold">No data found</p>
            </div>
          </div>
        </div>
      </div>
  }
</div>

  <!-- No data found container -->
  <!-- Privacy metrics - total requests, processed, non-processed -->
  <!-- Based on service owner selection, the privacy metrics should contain link to display tracking tab with appropriate service-owner pending requests -->
  <!-- Consent based request numbers - total, processed & non-processed with service-owner selection and tracking capability -->
  <!-- SLA Compliance metrics - Total requests processed under SLA, Total requests that breached SLA - Admin only -->
