<div class="grid grid-cols-6 gap-4">
  <div class="col-span-3">
    <label for="roleControl" class="text-gray-500 font-bold">Role: {{ displayFriendlyRole() }}</label>
  </div>
  <div class="col-span-3 ml-auto">
    <!-- Filter icon -->
    <a href="#" (click)="toggleFilters()" *ngIf="!displayFilters">
      <mat-icon>filter_list</mat-icon>
    </a>
    <div *ngIf="displayFilters" class="flex justify-between items-center">
      <!-- State Dropdown -->
      <label for="stateControl" class="text-gray-500 font-bold pr-2">State:</label>
      <select id="stateControl" class="border border-gray-300 rounded-md p-2 mr-2" (change)="changeSelectedState($event)">
        <option value="all">All</option>
        <option *ngFor="let state of states" [value]="state.value">{{ state.label }}</option>
      </select>

      <!-- Service Dropdown -->
      <label for="serviceControl" class="text-gray-500 font-bold pr-2">Service:</label>
      <select id="serviceControl" class="border border-gray-300 rounded-md p-2 mr-2" (change)="changeSelectedService($event)">
        <option value="all">All</option>
        <option *ngFor="let service of services" [value]="service.value">{{ service.label }}</option>
      </select>

      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input #dateRangePicker [rangePicker]="picker" [min]="minDate" [max]="maxDate">
          <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
          <input matEndDate placeholder="End date" [(ngModel)]="endDate">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <a href="#" (click)="toggleFilters()">
        <mat-icon>filter_list_off</mat-icon>
      </a>


    </div>

  </div>

  <!-- No data found container -->
  <!-- Privacy metrics - total requests, processed, non-processed -->
  <!-- Based on service owner selection, the privacy metrics should contain link to display tracking tab with appropriate service-owner pending requests -->
  <!-- Consent based request numbers - total, processed & non-processed with service-owner selection and tracking capability -->
  <!-- SLA Compliance metrics - Total requests processed under SLA, Total requests that breached SLA - Admin only -->
